<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675944931585-vsj66go20mndmgj57e5dk4qo4q6qhk5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675944931585-vsj66go20mndmgj57e5dk4qo4q6qhk5s</string>
	<key>API_KEY</key>
	<string>AIzaSyCGksiVAgq7vOBryVYlNCbkeKITnbsNo-o</string>
	<key>GCM_SENDER_ID</key>
	<string>675944931585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetocrescer</string>
	<key>PROJECT_ID</key>
	<string>projeto-crescer-d1070</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-crescer-d1070.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675944931585:ios:07d6266d30d6a9b0e17b00</string>
</dict>
</plist>